BasedOnStyle: Google

IndentWidth: 4
ColumnLimit: 100
AllowShortFunctionsOnASingleLine: Inline
DerivePointerAlignment: false
PointerAlignment: Left
SpaceBeforeParens: ControlStatements

AccessModifierOffset: -4

SortIncludes: true
BreakBeforeBraces: Attach
IndentCaseLabels: false

AlignTrailingComments: true
AllowAllParametersOfDeclarationOnNextLine: false
